<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhéroes</title>
    <link rel="stylesheet" href="/styles.css">


    <style>
        body {
            background-image: url('/images/fondo.jpg');
            background-size: cover; /* La imagen cubre toda la pantalla */
            background-position: center center; /* Centrado */
            background-attachment: fixed; /* Imagen fija durante el desplazamiento */
            height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
            margin: 0; /* Elimina cualquier margen por defecto */
            display: flex; /* Usamos Flexbox */
           
            
        }

        .content {
            background-color: rgba(95, 52, 52, 0.63); /* Fondo oscuro con opacidad */
            color: white; /* Texto en blanco */
            padding: 20px;
            border-radius: 10px; /* Opcional: para darle bordes redondeados */
            text-align: center; /* Asegura que el texto esté centrado */
        }
    </style>

</head>

<body>
   <div class="content"> 
    <h1 style="color: white;">Bienvenido a la Página de Superhéroes</h1>
    <p style="color: white;">Explora nuestra aplicación para descubrir, agregar o gestionar tus superhéroes favoritos.</p>
</div>
</body>
</html>
